nav {
  opacity: 0.9;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  display: flex;
  height: 70px;
  justify-content: flex-end;
  align-items: center;
  z-index: 11;
  width: 20vw;
  min-width: 100vw;
  min-height: 80px;
  padding: 5px 90px 5px 10px;
  border: 1px solid black; }
  nav .logo {
    width: 100vw;
    padding-top: 9px; }
    nav .logo .mainLogo {
      height: 50px; }

nav input + label {
  position: fixed;
  top: 25px;
  right: 0px;
  height: 20px;
  width: 80px;
  z-index: 12; }
  nav input + label span {
    position: absolute;
    width: 60%;
    height: 5px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: red;
    transition: 0.5s;
    border-radius: 2px; }
  nav input + label span:first-child {
    top: -7px; }
  nav input + label span:last-child {
    top: 26px; }
nav label:hover {
  cursor: pointer; }
nav input:checked + label span {
  opacity: 0;
  top: 50%; }
nav input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg); }
nav input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg); }
nav .menuListContainer {
  z-index: 90;
  height: 0px; }
nav input {
  display: none;
  padding: 30px; }
nav input ~ div {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  nav input ~ div > ul {
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    list-style-type: none; }
    nav input ~ div > ul > li {
      opacity: 0;
      transition: 0.5s;
      transition-delay: 0s; }
      nav input ~ div > ul > li > a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: 300;
        font-size: 2em;
        font-family: "Open Sans";
        display: block;
        padding: 0.4em;
        text-align: center;
        cursor: pointer; }
nav input:checked ~ div {
  height: 100%;
  transition-delay: 0s; }
  nav input:checked ~ div > ul > li {
    opacity: 1;
    transition-delay: 0.5s; }

nav .mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  width: 80px;
  background-color: white;
  z-index: 99;
  border: 1px solid white;
  cursor: pointer; }

nav .mobileNav input + label {
  position: fixed;
  display: block;
  top: 25px;
  right: -20px;
  height: 20px;
  width: 80px;
  z-index: 99; }

nav .mobileNav input + label span {
  position: absolute;
  width: 60%;
  height: 5px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: black;
  transition: 0.5s;
  border: 1px solid black;
  border-radius: 10px; }

nav .mobileNav input + label span:first-child {
  top: -7px; }

nav .mobileNav input + label span:last-child {
  top: 26px; }

nav .mobileNav label:hover {
  cursor: pointer; }

nav .mobileNav input:checked + label span {
  opacity: 0;
  top: 50%; }

nav .mobileNav input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg); }

nav .mobileNav input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg); }

@media only screen and (max-width: 768px) {
  nav {
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    display: flex;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    z-index: 11;
    width: 20vw;
    min-width: 100vw;
    min-height: 80px;
    padding: 5px 90px 5px 10px;
    border: 1px solid black; }
    nav .logo {
      width: 100vw;
      padding-top: 9px; }
      nav .logo .mainLogo {
        height: 50px;
        margin-right: 80px; } }

/*# sourceMappingURL=Ap.css.map */
