body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 1;
  background-color: black; }

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

section {
  padding: 0 !important;
  margin: 0 !important; }

h2 {
  margin: 0;
  color: white;
  font-size: 30px; }

#spinner {
  background: url("../img/spinner.gif") no-repeat scroll center center #fff;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99; }

.cover {
  height: auto;
  box-sizing: border-box;
  background-color: black;
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center; }
  .cover .mainVideoCotainer {
    height: 120vh;
    overflow: hidden; }
    .cover .mainVideoCotainer .mainVideo {
      height: 120vh;
      width: auto; }
  .cover .mainVideouttonsContainer {
    height: auto;
    position: absolute;
    top: 55%;
    left: 0;
    text-align: center;
    cursor: pointer;
    width: 3%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    width: auto; }
  .cover .arrow {
    margin-left: 20px;
    color: white; }
  .cover .coverBtn {
    margin: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 25px; }

.videoList {
  width: 100vw;
  column-gap: 0;
  column-count: 3; }
  .videoList div {
    width: 33.33vw;
    display: inline-block;
    overflow: hidden; }
    .videoList div img {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0 0.2em;
      max-height: 50vh;
      align: middle;
      transition: 0.8s;
      opacity: 0.9;
      filter: grayscale(50%); }
  .videoList:hover img {
    opacity: 0.8;
    filter: grayscale(80%); }
  .videoList:hover img:hover {
    opacity: 1;
    filter: grayscale(0); }

.clients {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center; }
  .clients .clientsContainer {
    display: flex;
    margin-top: 75px;
    flex-direction: column; }
    .clients .clientsContainer .images {
      margin: 20vh 10vw 0 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap; }
      .clients .clientsContainer .images img {
        opacity: 0.9;
        height: 60px;
        margin: 20px 20px; }

.aboutContainer {
  margin-top: 75px;
  color: white;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white; }
  .aboutContainer .aboutContent {
    display: flex;
    align-items: center; }
    .aboutContainer .aboutContent .aboutText {
      margin: 5vh 15vw 0 5vw; }
    .aboutContainer .aboutContent hr {
      border: none;
      height: 2px;
      background-color: white;
      width: 20%; }
    .aboutContainer .aboutContent .photos {
      margin: 5vh 0 0 15vw;
      display: flex;
      flex-direction: column; }
      .aboutContainer .aboutContent .photos img {
        margin: 1vh 0;
        height: 20vh; }

.contact {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .contact h2 {
    margin: 75px; }
  .contact .contactIconsContainer {
    display: flex;
    align-items: center; }
    .contact .contactIconsContainer img {
      width: 32px;
      margin: 5vh 1vw; }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  cursor: pointer;
  color: white; }
  .footer img {
    opacity: 0.9;
    width: 64px;
    margin: 30px 30px;
    transition: all 0.2s ease-in-out; }
    .footer img:hover {
      opacity: 1;
      transform: scale(1.15); }

.contactContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white; }
  .contactContainer h2 {
    margin: 20px 0 5 0; }
  .contactContainer div {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .contactContainer div img {
      width: 3%;
      margin: 0 1%; }

.emailForm {
  display: flex;
  justify-content: center;
  align-items: center; }

.formData {
  width: 50%; }

.textData {
  height: 25vh; }

textarea,
input::placeholder {
  color: black;
  font-size: 20px;
  text-align: center;
  opacity: 0.8; }

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
  font-size: 20px;
  opacity: 0.9; }

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  display: block;
  margin: 5px auto;
  opacity: 0.9;
  font-weight: bold;
  border: 1px solid white; }

input[type="submit"]:hover {
  background-color: #1a1a1a; }

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: black; }

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 5% auto;
  width: auto; }

/* The Close Button */
.close {
  color: #aaa;
  position: fixed;
  right: 50px;
  top: 10px;
  font-size: 60px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer; }

.vimeoMovieContainer .vimeoMovie {
  display: block;
  margin: 0 auto;
  width: 80vw;
  height: 46.511627907vw; }

@media only screen and (max-width: 900px) {
  .modal-content {
    margin: 50% auto;
    /* 15% from the top and centered */ } }
@media only screen and (max-device-width: 900px) {
  h2 {
    font-size: 40px; }

  .modal-content {
    margin: 50% auto;
    /* 15% from the top and centered */ }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; }
    footer img {
      opacity: 0.9;
      width: 15vw;
      margin: 2vh 2vw; }
      footer img:hover {
        opacity: 1; }

  .cover img {
    width: 7%; }

  .formData {
    width: 80%; }

  .contactContainer {
    font-size: 30px; }

  textarea,
  input::placeholder {
    font-size: 28px; }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    font-size: 28px; }

  input[type="submit"] {
    padding: 20px 28px;
    font-size: 28px; } }

/*# sourceMappingURL=index.css.map */
