body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 1;
  // overflow: hidden;
  background-color: black;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

section {
  padding: 0 !important;
  margin: 0 !important;
}

h2 {
  margin: 0;
  color: white;
  font-size: 30px;
}

#spinner {
  background: url("../img/spinner.gif") no-repeat scroll center center #fff;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
}

.cover {
  height: auto;
  box-sizing: border-box;
  background-color: black;
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center;
  .mainVideoCotainer {
    height: 110vh;
    width:100vw;
    overflow: hidden;
    .mainVideo {
      height: 120vh;
      width: auto;
    }
  }

  .mainVideouttonsContainer {
    height: auto;
    position: absolute;
    top: 55%;
    left: 0;
    text-align: center;
    cursor: pointer;
    width: 3%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
  .arrow {
    margin-left: 20px;
    color: white;
  }
  .coverBtn {
    //
    // text-shadow: horizontal-offset vertical-offset blur color;
    // text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    // box-shadow : 2px 4px 3px rgba(0,0,0,0.3);
    padding: 15px 25px;
  }
}

.videoList {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // height: 100vw;
  width: 99.9vw;
  // max-height: 1100px;
  // font-size: 0;
 column-gap:0;
  column-count: 3;

  // column-fill: auto;
  // column-span: all; 
.upIcon{
  color:white;
    position:fixed;
    bottom:5%;
  display: flex;
  justify-content:flex-end;
right: 5%;
 }
  div {
&.miniVideoContainer{}
     
     width: 33.3vw;
     display: inline-block;
     overflow: hidden;
      vertical-align:middle;
   text-align:center;

    .miniVideo{
left: 50%;
  margin-left: -20%;
margin-bottom: -5%;
 
  padding:0;
  max-height:50vh;
   align:middle;
    transition: 0.8s;
    opacity: 0.9;
    filter: grayscale(50%);
  }   }

  &:hover img {
    opacity: 0.8;
    filter: grayscale(80%);
  }
  &:hover img:hover {
    opacity: 1;
       filter: grayscale(0);
  }


}

// /* fallback for earlier versions of Firefox */

// @supports not (flex-wrap: wrap) {
//   div#masonry {
//     display: block;
//   }
//   div#masonry img {
//     display: inline-block;
//     vertical-align: top;
//   }
// }

// .miniVideoConatainer {
//   display:flex;
//   flex-direction:column;
//   width:33.3vw;
//   width: 100%;
//   overflow: hidden;
//   align-items: stretch;
//   position: relative;

//   .miniVideo {

//     height:100%;
//     z-index: 1;
//     cursor: pointer;
//     transition: all 0.5s ease-in-out;
//     filter: grayscale(80%);
//     &:hover {
//       -moz-transform: scale(1.1);
//       -webkit-transform: scale(1.1);
//       transform: scale(1.1);
//       filter: grayscale(0);
//     }
//   }

//   .mask {
//     top: 40%;
//     left: 45%;
//     position: absolute;
//     img {
//       width: 50%;
//     }
// }


.clients {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;

  .clientsContainer {
    display: flex;
    margin-top: 75px;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    .images {
      margin: 20vh 10vw 0 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      img {
        opacity: 0.9;
        height: 60px;
        margin: 20px 20px;
      }
    }
  }
}

.aboutContainer {
  margin-top: 75px;
  color: white;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  .aboutContent {
    display: flex;
    align-items: center;
    .aboutText {
      margin: 5vh 15vw 0 5vw;
    }
    hr {
      border: none;
      height: 2px;
      background-color: white;
      width: 20%;
    }
    .photos {
      margin: 5vh 0 0 15vw;
      display: flex;
      flex-direction: column;
      img {
        margin: 1vh 0;
        height: 20vh;
      }
    }
  }
}

.contact {
  color: white;
  height: 100vh;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    margin: 75px;
  }
  .contactIconsContainer {
    display: flex;
    align-items: center;
    img {
      width: 32px;
      margin: 5vh 1vw;
    }
  }
}

.footer div{
  
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
 flex-direction: column;
  background-color: black;
  cursor: pointer;
  color: white;
     
  img {
    opacity: 0.9;
    width: 64px;
    margin: 3em;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 1;
      transform: scale(1.15);
    }
  }


}

/////////////////////////////   FORM  //////////////////////////////////////
.contactContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  h2 {
    margin: 20px 0 5 0;
  }

  div {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
      width: 3%;
      margin: 0 1%;
    }
  }
}

.emailForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formData {
  width: 50%;
}

.textData {
  height: 25vh;
}

textarea,
input::placeholder {
  color: black;
  font-size: 20px;
  text-align: center;
  opacity: 0.8;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
  font-size: 20px;
  opacity: 0.9;
}

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  display: block;
  margin: 5px auto;
  opacity: 0.9;
  font-weight: bold;
  border: 1px solid white;
}

input[type="submit"]:hover {
  background-color: lighten(black, 10%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
}

/* Modal Content/Box */

.modal-content {
  background-color: black;
  margin: 5% auto;
  width: auto;
}

/* The Close Button */

.close {
  color: #aaa;
  position: fixed;
  right: 50px;
  top: 10px;
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.vimeoMovieContainer {
  $vv: 80vw;
  .vimeoMovie {
    display: block;
    margin: 0 auto;
    width: $vv;
    height: $vv/1.72;
  }
}

/////////////////////////////   SMALL SCREENS  //////////////////////////////////////
@media only screen and (max-width: 900px) {
  // .videoList {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   grid-template-rows: auto auto auto auto auto auto auto auto auto;
  // }
//   .videoList {


//   img {
//     max-width: 50vw;

//   }
// }

  .modal-content {
    margin: 50% auto;
    /* 15% from the top and centered */
  }
}

@media only screen and (max-device-width: 900px) {
  h2 {
    font-size: 40px;
  }
// .videoList {


//   img {
//     max-width: 100vw;

//   }
// }
  // .videoList {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  // }

  .modal-content {
    margin: 50% auto;
    /* 15% from the top and centered */
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    img {
      opacity: 0.9;
      width: 15vw;
      margin: 2vh 2vw;
      &:hover {
        opacity: 1;
      }
    }
  }

  .cover img {
    width: 7%;
  }

  .formData {
    width: 80%;
  }

  .contactContainer {
    font-size: 30px;
  }

  textarea,
  input::placeholder {
    font-size: 28px;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    font-size: 28px;
  }

  input[type="submit"] {
    padding: 20px 28px;
    font-size: 28px;
  }
}
