body {
  margin: 0;
  font-family: "Open Sans" , sans-serif;
  font-weight: 1;
  background-color: black !important;
  background-repeat: repeat;
  background-size: 50px 50px;
  text-transform: uppercase !important;
  overflow-x: hidden; }

.App {
  background-color: black; }

#loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  z-index: 999;
  background-color: white; }
  #loader .spinner {
    height: 80px;
    position: fixed;
    left: calc(50vw - 40px);
    top: 45%; }

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

section {
  padding: 0 !important;
  margin: 0 !important; }

h2 {
  margin: 0;
  color: white;
  font-size: 30px; }

#spinner {
  background: url("../img/spinner.gif") no-repeat scroll center center #fff;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99; }

.cover {
  height: auto;
  box-sizing: border-box;
  background-color: black;
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center; }

.cover .mainVideoCotainer {
  height: 110vh;
  width: 100vw;
  overflow: hidden; }

.cover .mainVideoCotainer .mainVideo {
  height: 120vh;
  width: auto; }

.cover .mainVideouttonsContainer {
  height: auto;
  position: absolute;
  top: 55%;
  left: 0;
  text-align: center;
  cursor: pointer;
  width: 3%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  width: auto; }

.cover .arrow {
  margin: 1em;
  color: white; }

.cover .coverBtn {
  margin: 1em;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  padding: 15px 25px;
  cursor: pointer;
  height: 60px; }

.cover .coverBtn:hover {
  background: rgba(255, 255, 255, 0.3); }

.videoList {
  width: 99.9vw; }

.videoList .miniVideoConatainer {
  overflow: hidden;
  width: 33.3vw;
  display: inline-block;
  text-align: center;
  max-height: 40vh;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  filter: grayscale(80%); }

.videoList .miniVideoConatainer:hover {
  opacity: 1;
  transition: 0.8s;
  filter: grayscale(0); }

.videoList .miniVideoConatainer:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.videoList .miniVideoConatainer .miniVideo {
  margin-bottom: -5%;
  top: 0;
  transition: 0.8s;
  opacity: 0.9;
  left: 50%;
  margin-bottom: -5%;
  padding: 0;
  max-height: 60vh; }

.videoList .miniVideoConatainer span {
  opacity: 0;
  transition: 0.6s;
  background-position: center;
  background-size: 60px 60px;
  background-image: url("../img/play.png");
  background-repeat: no-repeat;
  position: absolute;
  color: white;
  font-size: 1em;
  text-wrap: wrap;
  margin: auto;
  top: 0;
  line-height: 400px;
  left: 0;
  bottom: 0;
  right: 0;
  font-weight: bold; }

.videoList .miniVideoConatainer .miniVideo {
  height: 100%;
  text-align: center; }

.videoList .miniVideoConatainer:hover span.alt {
  opacity: 1;
  transition: 0.8s; }

.videoList span {
  opacity: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3); }

.videoList .upIcon {
  color: white;
  position: fixed;
  bottom: 20%;
  display: flex;
  justify-content: flex-end;
  right: 5%;
  cursor: pointer; }

.clients {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center; }

.clients .clientsContainer {
  margin-top: 10vh;
  flex-direction: column; }
  .clients .clientsContainer h2 {
    font-size: 2rem;
    color: white; }
  .clients .clientsContainer h3 {
    color: white;
    text-decoration: none;
    font-size: 1rem; }
  .clients .clientsContainer a {
    opacity: 0.9;
    text-decoration: none; }
    .clients .clientsContainer a:hover {
      opacity: 1; }

.clients .clientsContainer .images {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

.clients .clientsContainer .images img {
  height: 60px;
  margin: 20px 20px; }

.aboutContainer {
  padding-top: 75px;
  color: white;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  width: 100vw; }

.aboutContainer .aboutContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-transform: capitalize; }

.aboutContainer .aboutContent h3 {
  width: 70vw;
  text-align: center; }

.aboutContainer .aboutContent article {
  width: 70vw;
  text-align: center; }

.aboutContainer .aboutContent img {
  margin: 1em 0;
  max-width: 23.3vw;
  padding: auto; }

.contact {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; }

.contact h2 {
  margin: 75px; }

.contact .contactIconsContainer {
  display: flex;
  align-items: center;
  height: 100%; }

.contact .contactIconsContainer img {
  width: 32px;
  margin: 5vh 1vw; }

.footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  color: white; }

.footer div img {
  opacity: 0.9;
  width: 30px;
  margin: 2em 1em;
  transition: all 0.2s ease-in-out; }

.footer div img:hover {
  opacity: 1;
  transform: scale(1.15); }

.footerWhite {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: white; }

.footerWhite div {
  background-color: white; }

.footerWhite div a img {
  opacity: 0.5;
  width: 15vw;
  max-width: 64px;
  transition: all 0.2s ease-in-out; }

.footerWhite div a img:hover {
  opacity: 1;
  transform: scale(1.15); }

.contactContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white; }

.contactContainer h2 {
  margin: 20px 0 5 0; }

.contactContainer div {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.contactContainer div img {
  width: 3%;
  margin: 0 1%; }

.emailForm {
  display: flex;
  justify-content: center;
  align-items: center; }

.formData {
  width: 50%; }

.textData {
  height: 25vh; }

textarea,
input::placeholder {
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans"; }

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
  font-size: 20px; }

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  display: block;
  margin: 5px auto;
  opacity: 0.9;
  font-weight: bold;
  border: 1px solid white; }

input[type="submit"]:hover {
  background-color: #1a1a1a; }

.modal {
  display: none;
  position: fixed;
  z-index: 91;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black; }

.modal .close {
  z-index: 99;
  color: #aaa;
  position: fixed;
  right: 50px;
  top: 10px;
  font-size: 60px;
  font-weight: bold; }

.modal .close:hover,
.modal .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer; }

/* Modal Content/Box */
.modal-content {
  background-color: black;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.vimeoMovieContainer .vimeoMovie {
  display: block;
  margin: 0 auto;
  width: 80vw;
  height: 46.511627907vw; }

@media only screen and (max-width: 768px) {
  .videoList .miniVideoConatainer {
    width: 100vw; }

  .videoList .miniVideo {
    transform: scale(1.5); }

  .footer div {
    align-items: center;
    justify-content: center;
    flex-direction: row; }

  .modal-content {
    margin: 50% auto;
    /* 15% from the top and centered */ }

  .aboutContainer .aboutContent img {
    margin: 1em;
    max-width: 70vw;
    padding: auto; }

  .aboutContainer .aboutContent img:nth-child(2) {
    order: 2;
    margin: 1em;
    max-width: 70vw;
    padding: auto; }

  .aboutContainer .aboutContent img:nth-child(3) {
    order: 3;
    margin: 1em;
    max-width: 70vw;
    padding: auto; } }
@media only screen and (max-width: 768px) {
  .videoList {
    width: 99.9vw; }

  .videoList .miniVideoConatainer .miniVideo {
    transform: scale(1.5); }

  .videoList .miniVideoConatainer span {
    opacity: 0.8;
    font-size: 1.2em;
    margin: 1em; }

  h2 {
    font-size: 40px; }

  .videoList .miniVideoConatainer {
    width: 100vw; }

  .footer div {
    align-items: center;
    justify-content: center;
    flex-direction: row; }

  .footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    color: white; }

  .footer div img {
    opacity: 0.9;
    width: 10vw;
    margin: 1em 0.5em;
    transition: all 0.2s ease-in-out; }

  .footer div img:hover {
    opacity: 1;
    transform: scale(1.15); }

  .aboutContainer .aboutContent img {
    margin: 1em;
    max-width: 70vw;
    padding: auto; }

  .aboutContainer .aboutContent img:nth-child(2) {
    order: 2;
    margin: 1em;
    max-width: 70vw;
    padding: auto; }

  .aboutContainer .aboutContent img:nth-child(3) {
    order: 3;
    margin: 1em;
    max-width: 70vw;
    padding: auto; }

  .modal-content {
    margin: 50% auto;
    /* 15% from the top and centered */ }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; }

  footer img {
    opacity: 0.9;
    width: 15vw; }

  footer img:hover {
    opacity: 1; }

  .cover img {
    width: 7%; }

  .formData {
    width: 80%;
    font: "Open Sans"; }

  .contactContainer {
    font-size: 30px; }

  textarea,
  input::placeholder {
    font-size: 28px; }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    font-size: 28px; }

  input[type="submit"] {
    padding: 20px 28px;
    font-size: 28px; } }
.md-nav {
  height: 58px; }
  .md-nav .mainLogoMd {
    margin-top: 8px;
    cursor: pointer; }
  .md-nav ul {
    list-style-type: none;
    transition: 1s;
    color: white; }
    .md-nav ul li {
      border-bottom: 1px solid transparent;
      border-radius: 1px;
      cursor: pointer;
      -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out;
      -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out;
      -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
      -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
      transition: color .2s ease-out, border-bottom-color .2s ease-out; }
      .md-nav ul li:hover {
        border-bottom: 1px solid white;
        border-radius: 1px; }
      .md-nav ul li.active {
        border-bottom: 1px solid white;
        border-radius: 1px; }

/*# sourceMappingURL=index.css.map */
